body {
    background: rgba(60, 57, 57, 1) !important;
    color: #c4c4c4;
    text-align: center !important;

}

input
{
    width: 25%;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
    border: 2px;
    border-radius: 50px;
    background-color: #c4c4c4
    
}
label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 19px;
 color: #FFFFFF;
}

h1 {
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 40px;
 line-height: 19px;

  color: #FFFFFF;
  
}

.item img {
    position:relative;
}
