nav {
    list-style-type: none;
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #3a3a3a;
    height: 100%; /*full height */
    position:absolute; /* Make it stick, even on scroll */
    overflow: auto; /* enable scrolling if the sidenav has too much content */
    left: 0;
     color:white;
}
  
  li a {
    display: block;     /* links as block elements, whole link area click */
    color:white;
    padding: 8px 1px; /*padding between pages*/
    padding-top:20px;
    text-decoration: none;
    text-align: center;
  }
  ul{
      list-style-type: none;
      padding: none;
  }
  /* change link color on hover */
  li a:hover {
    background-color:#555;
    color: #F3ECEC;
  }
  li:hover {
background-color: aqua;
  }
 .title { 
    text-align: center;
    color:white;
    background-color: #3C3939;
}
.title1
{
    text-align: center;
    color:white;
    background-color: #3C3939;
    padding-top: 20px;
}
.divider{
    border-top: 3px solid #bbb;
}
/* NAV ENDS */

/* TABS STRS */
*{
    box-sizing: border-box;
 }
body
 {
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size: 16px;
    line-height:1.6

 }
.container
 {
    max-width:452px;
    margin:50px auto;
    position: relative;
    left:20%;
    bottom: 10%;
    
   
}
.tab_trigger{

}
.tab_trigger ul{
    margin:0;
    padding:0;
    list-style: none;
    display:flex;
}
.tab_trigger ul li
{
width:50%;
}
.tab_trigger ul li label{
position:relative;
display: block;
padding:8px 15px;
cursor:pointer;
min-width:100px;
text-align: center;
font-weight: 700;
text-transform: uppercase;
border-radius:8px 8px 0 0;
color:white;
}
.tab_trigger ul li:nth-child(1) label
{
    background: #555;
}
.tab_trigger ul li:nth-child(2) label
{
    background:#555;
}
.tab_trigger ul li:nth-child(2) :hover{
    background: aqua;
    
}
.tab_trigger ul li:nth-child(1) :hover{
    background: aqua;
}
.tab_container_wrap{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 590px;
   
}
.tab_container_wrap input[type="radio"]{
    position:absolute;
    width:0;
    height:0;
    margin:0;
    z-index: -100;
    top: -10000px;
    
    
}
.tab_container_wrap input:checked + .tab_content_box{
    display: block;
}
/* .tab_container_wrap input[type="text"]:checked + .tab_content_box {
    display: block;
} */
/* CONTENT BOX SWITCH*/
.tab_content_box{
background: yellow;
padding:20px;
height: 590px;

}
.tab_content_box h2{
    margin: 0 0 20px
}
.tab_content_box:nth-of-type(1){
    background:#3C3939;
    display: none;
    
}
.tab_content_box:nth-of-type(2){
    background: #3C3939;
    display: none;
    
}
/* END CONTENT BOX SWITCH */
/* END TABS */
/* STYLING SCRUMS STRT */
.scrums2{

    position: absolute;
    left:40px;
}
.scrums2 input{
    width:110%;
    height:30px;
    margin:8px;
    padding:8px;
    border: #3C3939;
    background-color: #555;
    outline: none;
    font-size: 16px;
    color: white;
}
.tab_content_box h2{
    color:white;
}
/* SRCUMS END */
/* MESSAGES  */
.Messages img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  /* Style images */
.Messages img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }

.linkbutton{
    position: relative;
    top:-45%;
    left:15%;
}
.Messages h4, p, time{
    color:white;
}
.time{color:white}

/* MESSAGES END */

/* Search bar */
.Search{
    position: relative;
    top:-20%;
    left:10%
    
    
}
.Search input[type="text"]{
  width:329px;
  height:30px;
  font-size: 16px;
  font-weight: 200;
  background-color: #555;
  border: #3C3939;
  outline: none;
  color:white;
}

/* Search bar end */
/* USERS */

.User1{
    position: relative;
    top:40%;
    left:10%;
    background-color: rgba(71, 186, 240, 0.022);
    width:100%;
}
.User2{
    position: relative;
    top:40%;
    left:10%;
    background-color: rgba(71, 186, 240, 0.022);
    width:100%;
}
.User3{
    position: relative;
    top:40%;
    left:10%;
    background-color: rgba(71, 186, 240, 0.022);
    width:100%;
}
/* END USERS CHAT */
.Userprofile{
    background-color:#3C3939 ;
    width:452px;
    position: absolute;
    top:0;
    right: 500px;
    height: 631.1px;
}
.Userdetails{
position: relative;
text-align: center;
top:100px;

}

.Userdetails input{
    width:60%;
    height:30px;
    margin:8px;
    padding:8px;
    border:#3C3939;
    background-color: #555;
    outline: none;
    font-size: 16px;
    color:white;
}

.Userprofile img
{
    width:60%;
    border-radius: 100%;
    position: relative;
    left:100px;
    top:100px;
 
}