
html, body {
    background: rgba(60, 57, 57, 1);
    color: #c4c4c4;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
    font-family: 'Inter', sans-serif;


}

.edit-events
{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: flex;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #FAF9F6;
    transform : translateY(-100vw);
    translation : all 1s;


}
.edit-modal
{
    width: 50vw;
    height: 50vh;
    border: 1px solid green;
    padding: 10px;

}

.btn, .btn-primary
{
    min-width: 10rem;
    height: 3rem;
    display: flex;
}

.event-modal-close-btn
{
    background-color: red;
    border: 0px;
    position: absolute;
    width: 2rem;
    height: 2 rem;
    top: calc(25vh + 2px);
    left: calc(75vw - 2rem - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.slideIntoView
{
    transform : translateY(0vw);
    translation : all 1s;
}
.month{
    /*webkit-transform: transform3d(0, 0, 0);
    moz-transform: transform3d(0, 0, 0);
    transform: transform3d(0, 0, 0);
    padding: 70px 10px;
    width:420px
    margin: 0 auto;
    height: 570px
    overflow: hidden;
    background: lightgray;
/*
    width: 100%;
    background: lightgray; */
   /* text-align: center */
}
#div1
{
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid gray;
    background: gray;

}
#external-event
{
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;
    width: 150px;
    padding: 5px 10px;
    border: 1px solid gray;
    background: gray;
}
.event-heading
{
    color:white;
}
.fc-event-main
{
    background: #CF8EB5;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
  /*  margin: -2px;
    border: 10px
    */

}
#calendar-container, #container
{
    position: relative;
    z-index: 1;
    margin-left: 200px

}
#external-event, .fc-event
{
    cursor: move;
    margin: 3px 0;

}
#calendar
{
    color: black;

  /*  background: #FAF9F6; */

    max-width: 1100px;
    margin: 20px auto;
}

