<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href="/static/calendarWebPageStylesheet.css" />
    <meta charset="UTF-8">
    <title>Your calendar</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
    <script src = "https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel = "stylesheet">
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>
</head>
<body>
<h1>Hello World</h1>
<div id = 'calendar'></div>
<script>
    let calendarE1 = document.getElementById('calendar');

    let calendar = new FullCalendar.Calendar(calendarE1, {
        initialView: 'timeGridWeek',
        selectable: true
    });
    calendar.render();
</script>
<!--
<div id='external-events'>
  <p>
    <strong>Draggable Events</strong>
  </p>

  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 1</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 2</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 3</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 4</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 5</div>
  </div>

  <p>
    <input type='checkbox' id='drop-remove' />
    <label for='drop-remove'>remove after drop</label>
  </p>
</div>
-->
<!--
 <div class = "container">
     <div>calendar</div>
 </div>
-->

<!--<div class = "month">
    <ul>
        <li class = "prev">&#10094;</li>
        <li class = "next">&#10095;</li>
    </ul>
</div> -->


 <!--
<div class = "ui container">
    <div class = "ui grid">
        <div class = "ui sixteen colum">
            <div id = "calendar"></div>
        </div>
    </div>
</div>
-->
</body>
</html>