<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href="/static/calendarWebPageStylesheet.css" />
    <meta charset="UTF-8">
    <title>calendar</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
    <script src = "https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel = "stylesheet">
  <!--  <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script> -->

</head>
<body>
<h1>Hello World</h1>
<div id = 'calendar'></div>
<script>

      let calendarE1 = document.getElementById('calendar');

      let calendar = new FullCalendar.Calendar(calendarE1, {events : [
        {% for event in events %}

            { title : '{{event.todo}}',
              start : '{{event.date}}', },

        {% endfor %}
        ]}
        );

      calendar.render();
</script>

<!--
<div id="div1">
    <p>
        <strong>Draggable Events</strong>
    </p>
    <div class = 'fc-event fc-h-event fc-daygrid-block-event'><div class='fc-event-main'>MyEvent1</div></div>
    <div class= 'event_main' draggable="true" ondragstart="drag(event)" id="drag1">Event 1</div>
    <div class= 'event_main2' draggable="true" ondragstart="drag(event)" id="drag2">Event 2</div>

</div>
-->


</body>
</html>