
<!--Main header that import the icon of our logo, 
    Importing the bootstrap, 
    and the title for the web browser tab-->

<html>

<head>

    <title>Calendar</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'tabICN.ico' )}}">


</head>

<body>

<!--Displaying the Calednar Title at top of page-->

<div class="container">

    <div class="well text-center">

        <h1>Calendar</h1>

    </div>