body{
    margin:0;
    background-color: rgb(29, 29, 29);
    font-family:sans-serif;
}
/* NAV */
/* NAV STRT */
nav {
    list-style-type: none;
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #3a3a3a;
    height: 100%; /*full height */
    position:absolute; /* Make it stick, even on scroll */
    overflow: auto; /* enable scrolling if the sidenav has too much content */
    left: 0;
    font-size: 16px;
}
li a {
    display: block;     /* links as block elements, whole link area click */
    color:white;
    padding: 8px 1px; /*padding between pages*/
    padding-top:20px;
    text-decoration: none;
    text-align: center;
    background-color: #3a3a3a;
  }
  li h1,h3{
      background-color: #3a3a3a;
  }
  
  ul{
      list-style-type: none;
      background-color: #3a3a3a;
  }
    /* change link color on hover */
    li a:hover {
        background-color:#555;
        color: #F3ECEC;
      }
      li:hover {
    background-color: aqua;
      }
     .title { 
        text-align: center;
        color:white;
       
    }
    .title1
    {
        text-align: center;
        color:white;
        background-color: #3C3939;
        padding-top: 20px;
    }
    .divider{
        border-top: 3px solid #bbb;
    }
/* NAV END */
/* Nav end */
/* FOLDER CONTAINER */
.container {
    background-color: #333;
    /* padding: 1rem;
    margin-top: 1rem; */

    position: relative;
    
    /* min-height: 274px;
    max-height: 800px;
    min-width:1000px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
 
}
.draggable{
    background-color:rgba(255, 245, 245, 0.945);
    padding: 1rem;
    margin-top: 1rem;
    border:solid rgba(0, 0, 0, 0.715);
    cursor: move; /* change cursor */
    width:128px;
    height: 174px;
    display: grid;
    margin-left: 2rem;
}

.draggable.dragging{
opacity: 0.5;
}
/* div */
.containerx{
    background-color: aqua;
    position: relative;
    left:35%;
    top: 30%;
    height:600px;
    width:50%;
    margin-top: 1rem;
    display: grid;
    border: #F3ECEC;
    /* min-width:1000px; */
}
.container#testy{
    width:100%;
    position: absolute;
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 3.5rem;
}
.containerx h1{
    text-align: center;
    color:rgb(29, 29, 29);
    position: relative;
 
}
/* div */
/* Container 1 */
.containery{
    background-color: #3a3a3a;
    /* border:#f1f1f1;
    border-width: 2rem; */
    width: 50%;
    position: relative;
    left:35%;
    height:400px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-top: 1rem;
}
.containery h2{
    text-align: center;
    color: #bbb;
}

.container#test{
    background: aqua;

    min-width: 128px;
    min-height: 128px;
    width:20%;
    height: 35%;
    margin-top: 3rem;
    left:25%;

}
/* Elements hidden */
.container#test .draggable{
    display: none;

}
/* END Conatiner1 */
/* END FOLDERS */
/* SCROLLBAR  */
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* SCROLLBAR END */
  /* TOOLBAR */
.Toolbar{
    background: #555;
    height:50px;
    border-bottom: aqua;
    border-width: 2rem;
}
.Toolbar img{
    position: absolute;
    display: grid; margin-left: 1rem;
    top:0%;
    height:50px;
    cursor: pointer;
}
.c{
    position: absolute;
    left:30%;
}
.B{
    position: absolute;
    left:25%;
}

  /* TOOLBAR END */

